BASE    dc=opensource,dc=osu,dc=edu
URI     ldap://{{ ldap_client_server }}
TLS_CACERT /etc/openldap/certs/cacert.pem
{# Turning this off breaks GSSAPI used with krb5 when rdns = false
...
What the hell does that mean for us? #}
SASL_NOCANON    on
