[sssd]
config_file_version = 2
domains = opensource.osu.edu
services = nss, pam
debug_level=6

[nss]
debug_level=6

[pam]
debug_level=6

[domain/opensource.osu.edu]
id_provider = ldap
auth_provider = ldap
ldap_uri = ldap://{{ ldap_client_server }}
ldap_user_search_base = ou=people,dc=opensource,dc=osu,dc=edu
ldap_group_search_base = ou=groups,dc=opensource,dc=osu,dc=edu
access_provider = simple
simple_allow_users = oscadmin
simple_allow_groups = jumphostAdmins,oscadmins
debug_level=6
