# {{ ansible_managed }}
[sssd]
config_file_version = 2
domains = opensource.osu.edu
services = nss, pam
debug_level=6

[nss]
debug_level=6

[pam]
debug_level=6

[domain/opensource.osu.edu]
id_provider = ldap
auth_provider = ldap
ldap_uri = ldap://{{ ldap_host_server }}
ldap_user_search_base = ou=people,dc=opensource,dc=osu,dc=edu
ldap_group_search_base = ou=groups,dc=opensource,dc=osu,dc=edu
{% if ansible_local.osc_facts.app not in ['jumphost'] %}
access_provider = ldap
{# Users can only login if they are a member of the application admin group or network-wide sysadmins #}
ldap_access_filter = (|(memberof=cn=admins,ou={{ ansible_local.osc_facts.app }},dc=opensource,dc=osu,dc=edu)(memberof=cn=sysadmins,ou=groups,dc=opensource,dc=osu,dc=edu))
{% endif %}
ldap_default_bind_dn = uid=sssdbind,ou=svcaccts,dc=opensource,dc=osu,dc=edu
ldap_default_authtok = {{ ldap_host_sssdbind_authtok }}
debug_level=6
