ldap_host_files:
    - src: 'sssd.conf.j2'
      dest: '/etc/sssd/sssd.conf'
      owner: 'root'
      group: 'root'
      mode: 600
    - src: 'ldap.conf.j2'
      dest: '/etc/openldap/ldap.conf'
      owner: 'root'
      group: 'root'
      mode: 644
    - src: 'system-auth-ac.j2'
      dest: '/etc/pam.d/system-auth-ac'
      owner: 'root'
      group: 'root'
      mode: 644

ldap_host_packages:
    - sssd
    - python-ldap
    - oddjob-mkhomedir
    - openldap-clients
