ldap_host_files:
    - src: 'sssd.conf.j2'
      dest: '/etc/sssd/sssd.conf'
      owner: 'root'
      group: 'root'
      mode: 600
    - src: 'ldap.conf.j2'
      dest: '/etc/openldap/ldap.conf'
      owner: 'root'
      group: 'root'
      mode: 644

ldap_host_packages:
    - sssd
    - oddjob-mkhomedir
    - openldap-clients

ldap_host_ldap_directory:
  path: '/etc/openldap'
  owner: 'ldap'
  group: 'ldap'
