---
# tasks file for common

# TODO: Add python2 installation for Fedora. Or symlink python3 to /usr/bin/python

- name: (common) Custom facts directory is created
  file:
    dest: "/etc/ansible/facts.d"
    owner: "root"
    group: "root"
    mode: 0644
    state: directory

- name: (common) Custom facts file is deployed
  template:
    src: "../files/osc_facts.fact"
    dest: "/etc/ansible/facts.d/osc_facts.fact"
    owner: "root"
    group: "root"
    mode: 0755
  register: common_osc_facts

- name: (common) Facts are re-gathered
  setup:
  when: common_osc_facts.changed

- name: (common) Vars files are included
  include_vars: "{{ item }}"
  with_items:
  - "{{ ansible_distribution }}.yml"
  - "{{ ansible_local.osc_facts.env }}.yml"

- name: (common) Packages are installed
  dnf:
    name: "{{ item }}"
    state: latest
  with_items: "{{ common_pkgs }}"

